:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color-scheme: light dark;
  color: rgb(33, 33, 33);
  background-color: #232323;
}

#root {
  background-color: #232323;
}

.card {
  box-shadow: 0px 20px 30px -2px #307a51, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  margin: 5rem;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.description {
  margin: 0 12rem 0 12rem;
}

.border {
  border-radius: 0.5rem;
}

.green-color {
  color: white;
  background-color: rgb(86, 225, 86);
  border-color: rgb(255, 255, 255);
}

.red-color {
  color: white;
  background-color: #f03a5f;
  border-color: #f03a5f;
}

.decode-color {
  background-color: #99abfb;
  color: #3850b7;
  border-color: #3850b7;
}

.encode-color {
  background-color: #f6df9b;
  color: #946c00;
  border-color: #946c00;
}

.button {
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.emoji {
  color: #f03a5f;
  font-size: 5rem;
}

.tag {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 1.5rem;
  align-self: center;
}

.result {
  padding: 10px 10px;
  min-height: 110px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  word-wrap: break-word;
  text-align: left;
}

.orientation-buttons {
  display: flex;
}
